<nav class="navbar navbar-light" style="background-color: #e3f2fd;" id="top">
    <h1>Objective Tracking</h1>
</nav>
<div class="container-fluid">
    <h2>Your Objectives</h2>

    <ol>
        <li *ngFor="let objective of objectives; let objectiveIndex = index">
            <a href="#objective-{{objectiveIndex +1}}">
                {{objective.name}}
            </a>
        </li>
    </ol>

    <hr>

    <div>
        <div *ngFor="let objective of objectives; let objectiveIndex = index">
            <h3 id="objective-{{objectiveIndex +1}}">Objective #{{objectiveIndex + 1}}: {{objective.name}}<a
                    class="btn btn-light" href="#top">Back To Top</a></h3>
            <div class="container">
                <div class="card mb-3 text-white bg-primary">
                    <div class="card-body">
                        <p class="card-text"><b>Start Date: </b>{{objective.startDate}}</p>
                        <p class="card-text"><b>End Date: </b>{{objective.endDate}}</p>
                        <h4>Measures</h4>
                        <div *ngFor="let measure of objective.measures; let measureIndex = index">
                            <div class="card bg-secondary">
                                <div class="card-body">
                                    <p class="card-title">Measure #{{measureIndex + 1}}</p>
                                    <p class="card-text">description: {{measure.description}}</p>
                                    <p class="card-text">Percentage Completed: {{measure.amountCompleted}}
                                    <h5>Comments</h5>
                                    <div *ngFor="let comment of measure.comments">
                                        <div class="card bg-light text-body">
                                            <div class="card-body">
                                                <p class="card-text">Date: {{comment.createdDate}}</p>
                                                <p class="card-text">Title: {{comment.title}}</p>
                                                <p class="card-text">Comment: {{comment.body}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-light" href="#top">Back To Top</a>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
